
*{
    padding: 0;
    margin: 0;
    font-family: 'Maitree', serif;
    background-color: #EED0EE;
    overflow: hidden;
}

.main{
    display: flex;
}

.text-side{
    display:block;
    padding: 12vw;
    width:fit-content;
    
}

.oops{
    font-size: 50px;
    font-weight: bold;
}

.error{
    font-size: 30px;
   
}

.para{
    font-size: 18px;
    width: 237px;

}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.button{
    font-size: 12px;
    width: 128px;
    height: 43px;
    background-color: #9D0E67;
    color:#fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in;
}

.button:hover{
    font-weight: bold;
    font-size: 13px;
}

.image-side{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 50%;
}

.gummy{
    width:60vh;
    margin-top: 4vh;
}

.first-type{
    margin-top: 7vh;
    width: 20vh;
}

.top-vector{
    position: absolute;
    bottom:60%;
    left:75%;
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
    width:auto;
    height:auto;
    padding-top: 10vh;
    margin-bottom: 5vh;
    
}

.second-type{
   margin-bottom: -15vh;
   margin-left:3vw;
   width: 13vw;
  
}

.third-container{
    margin-left: 10vw;
    padding-bottom: 3vh;
}

.third-type{
    width: 7vw;
    z-index: 4;
}
